
<!-- Footer -->
<section id="footer">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
            <ul class="list-unstyled list-inline social text-center">
                <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
                <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
                <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
            </ul>
        </div>
        </hr>
    </div>	
    
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
            <p><a href="https://y2dcapital.com/"> Udemy-clone website</a>    </p>
            <p class="h6">&copy; Y2DCAPITAL 2012-2019 .<a class="text-green ml-2" href="https://Y2dcapital.com" target="_blank">Y2D CAPITAL</a></p>
        </div>
        </hr>
    </div>	
</div>
</section>
<!-- ./Footer -->
